.header__navbar-user-menu1 {
    position: absolute;
    top: 150%;
    right: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 2px;
    text-decoration: none;
    width: 160px;
    z-index: 1;
    box-shadow: 1px 1px 3px #ccc;
    display: none;
}
.header__navbar-user-menu1::before {
    content: "";
    border: 11px solid;
    position: absolute;
    right: 22px;
    top: -22px;
    border-color: transparent transparent #fff transparent;
}
.header__navbar-user-menu1:after {
    position: absolute;
    content: "";
    display: block;
    width: 160px;
    height: 30px;
    top: 20px;
    right: 0;
}

.header__navbar-user:hover .header__navbar-user-menu1 {
    display: block;
}