
.div-btn-film {
    margin-bottom: 80px;
    text-align: center;
    font-family: "Saira Semi Condensed", sans-serif;
}

.div-btn-film .ant-btn.btn-film {
    padding: 0 20px;
    outline: none;
    box-shadow: none;
    font-weight: 600;
    font-size: 30px;
    height: 50px;
    border: 0;
    background-color: var(--bg1);
    transition: all 0.5s linear;
    color: #fff;
    

}

.div-btn-film .ant-btn:active {
    border-color: #fafafa !important;
    background-color: var(--bg1);
    box-shadow: none;
}

.ant-click-animating-node {
    display: none;
}

.div-btn-film .ant-btn:hover {
    border-bottom: var(--color-primary2) solid 2px;
    color: var(--color-primary2);
    background-color: var(--bg1);
}
